<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
</head>
<body>
<h1 th:text="#{app.title}">App Title</h1>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.email}">Email</td>
    </tr>
    </tbody>
</table>
</body>
</html>